/wordpress_data
/vendor/
/composer.lock
/.env
/tests/
/examples/
/docs/
/wp-content/plugins/CustomWooCommerceRedis/vendor
~/.vscode-root
~/code
.env
wordpress_db_password.txt
wordpress_db_user.txt
wordpress_db_name.txt
mysql_root_password.txt
*.swp
/home/hp/Repositories/WooRedisCache/~
exampledb.sql
script_bash_docker
/wp-content/plugins/CustomWooCommerceRedis/composer.lock
wp-content/plugins/CustomWooCommerceRedis/composer.lock
